@import url("reset.css");
/*General Styles*/

* {
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	min-height:100%;
}

html {
	height:100%;
	background-color: #2B81AC;

}
body {
	border: 15px solid #2B81AC;
	background-color: #39C;
	color:#FFF;
	font: 16px/1.2 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.ba-content {

}
.ba-conteiner {
	max-width: 800px;
	margin: 15px auto;
}

.ba-conteiner i {
	margin-left: 5px;
}

h1 {
	font-size: 26px;
}

.ba-header-text {
	display: inline-block;
	margin: 30px 0;
}

ul {
	list-style: none;
	font-size: 0;
	border: 2px solid #fff;

}

li {
	display: inline-block;
	font-size: 20px;
	border: 2px solid #fff;
	text-align: center;
	padding: 35px 0 25px;
}

ul:hover > li {
  opacity: .6;

 }
 ul > li:hover {
  opacity: 1;
}

.ba-whole {
	width: 100%;
}

.ba-half {
	width: 50%;
}

.ba-quarter {
	width: 25%;
}

.ba-temperature {
	margin-top: 10px;
	display: block;
	opacity: 0.5;
}

.wi {
	font-size: 25px;
}

footer {
	margin-bottom: 25px;
}
footer p {
	margin-top: 30px;
}

.ba-first {

}

.ba-first:hover {
	background-color: rgba(51,153,204,0.9);
}

.ba-second {
	background-color: #3CC;

}

.ba-third {
	background-color: #969;

}

.ba-fourth {
	background-color: #C24747;

}

.ba-fifth {
	background-color: #E2674A;
}

.ba-sixth {
	background-color: #FC6;
}

.ba-seventh {
	background-color: #9C9;

}

.ba-eightth {
	background-color: #699;

}

.ba-nineth {
	background-color: #C69;
}

.ba-tenth {
	background-color: #396;

}

.ba-eleventh {
	background-color: #669;

}
